<h1>Add a New Search</h1>

<%= render 'links' %><br /><br />

	<%= form_for @word do |f| %>
		<div class="form-group">
		  <%= f.label "Enter a seartch term" %>
		</div>

		<div class="form-group">
		 		<%= f.text_field :search_term, :placeholder => "Enter your search terms here" %>
	  </div>

	  <div class="form-group">
	  <%= f.submit :class => "btn btn-primary" %>
	  </div>
	<% end %><!--  #end form -->

